//- variables generales del proyecto
-celContact="+1 520 585 68 82"
-empresa='Amazona de Poder'
-pages=['Inicio', 'Nuestro Equipo', 'Lo que hacemos', 'Contacto']
-sites=['#inicio', '#nuestro_Equipo', '#lo_que_hacemos', '#contacto']
//- -services=['sitiosWeb', 'apps', 'motionGraphics', 'animacion']
//- -serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
//- -servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='Heredera del Amor'
-siteTitle= empresa
-description='Quiere tener Prosperidad económica, suerte en el amor, alejar el dolor y la soledad, Atraiga la abundancia a su vida, vea como la felicidad embarga todos los dias su hogar, genére ingresos como lo habia soñado; todo y mucho mas con los Maestros de la Luz, arquitectos del Amor y el Chamán poderoso'
-sizeImgServices=300
